body{
    margin: 0;
    background-color: antiquewhite;
}
div.b1{
    background-color: tomato;
    height: 200px;
    width:95%;
    margin: 0 auto;
    /* margin:0 50px; */
    width: calc(100% - 20px);
}
div.b2{
   background-color: dodgerblue;
   height: 200px;
   width: 200px;
   float: left; 
}
div.b3{
    background-color: greenyellow;
    height: 200px;
    width: 220px;
    float: left;
    margin-left: calc(-100px + (100% - 200px) / 2);
}
div.b4{
    background-color: tomato;
    height: 100px;
    width: 200px;
    border:2px solid;
    text-align:center;
    line-height:100px;
    margin:auto;
    position: absolute;
    left: calc( (100% - 200px) / 2);
    top: calc((100% - 100px) / 2);
}